<?xml version="1.0" encoding="utf-8" ?>

<configuration>
	<appSettings>
		<add key="ConfigsDirectory" value="%USERPROFILE%\AppData\Local\Philadelphus" />
	</appSettings>
	<connectionStrings>
		<clear />
		<add name="4c04583e-d57a-40c2-b281-3676af36dc54"
			 providerName="Npgsql.EntityFrameworkCore.PostgreSQL"
			 connectionString="Host=192.168.88.249;Port=5433;Username=postgres;Password=Dniwe2002;Database=philadelphus_pilot;Timeout=10;CommandTimeout=10;Include Error Detail=true;" />
		<add name="2b22989a-f845-43bc-b639-ad9ed41ec4cf"
			 providerName="Npgsql.EntityFrameworkCore.PostgreSQL"
			 connectionString="Host=localhost;Port=5434;Username=postgres;Password=Dniwe2002;Database=philadelphus_pilot;Timeout=10;CommandTimeout=10;Include Error Detail=true;" />
		<add name="a1b53074-54a8-47fc-9e90-ab64bc9d445e"
			 providerName="Npgsql.EntityFrameworkCore.PostgreSQL"
			 connectionString="Host=212.22.94.51;Port=5432;Username=msv;Password=Dniwe2002;Database=mydb;Timeout=10;CommandTimeout=10;Include Error Detail=true;" />
		<add name="8bffede3-9df6-4f1c-8238-fb25ac18e7f2"
			 providerName="Npgsql.EntityFrameworkCore.PostgreSQL"
			 connectionString="Host=185.65.200.75;Port=18675;Username=postgres;Password=Dniwe2002;Database=philadelphus_internet_pilot;Timeout=10;CommandTimeout=10;Include Error Detail=true;" />
		<add name="9aca3962-de53-4ff8-805c-54698f67d8b9"
			 providerName="Npgsql.EntityFrameworkCore.PostgreSQL"
			 connectionString="Host=localhost;Port=5434;Username=mlchk;Password=Dniwe2002;Database=philadelphus_pilot_laptop;Timeout=10;CommandTimeout=10;Include Error Detail=true;" />
	</connectionStrings>
</configuration>