<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear />
		<add name="4c04583e-d57a-40c2-b281-3676af36dc54"
			 providerName="Npgsql.EntityFrameworkCore.PostgreSQL"
			 connectionString="Host=192.168.0.64;Port=5433;Username=postgres;Password=Dniwe2002;Database=philadelphus;" />
		<add name="2b22989a-f845-43bc-b639-ad9ed41ec4cf"
			 providerName="Npgsql.EntityFrameworkCore.PostgreSQL"
			 connectionString="Host=localhost;Port=5434;Username=postgres;Password=Dniwe2002;Database=philadelphus_test;" />
	</connectionStrings>
</configuration>